@font-face {
	font-family: ledFont;
	src: url(../fonts/ScreenMatrix.ttf);
}

#bg {
  position: scroll; 
  margin-top: 100px; 
  left: 0; 
  width:100%;
  z-index:-999;
}

.panel-heading{
	padding:5px;
	font-family:"Courier New";
	font-size:1.5em;
	text-align:center;
	vertical-align:center;
}
.panel-body{
	padding:0px 5px;
	font-family:"Courier New";
	font-size:1.4em;
	background-color:black;
	color: rgb(67,228,2);
	text-align:center;
}
.pane-1{
	position:absolute;
	top:260px;
	left:180px;
}
.pane-2{
	position:absolute;
	top:330px;
	left:310px;
}
.pane-3{
	position:absolute;
	top:450px;
	left:310px;
}
.pane-4{
	position:absolute;
	top:630px;
	left:300px;
}
.pane-5{
	position:absolute;
	top:1325px;
	left:210px;
}
.pane-6{
	position:absolute;
	top:300px;
	left:520px;
}
.pane-7{
	position:absolute;
	top:270px;
	left:650px;
}
.pane-8{
	position:absolute;
	top:1220px;
	left:590px;
}
.pane-9{
	position:absolute;
	top:250px;
	left:1010px;
}
.pane-10{
	position:absolute;
	top:250px;
	left:1160px;
}
.pane-11{
	position:absolute;
	top:1390px;
	left:1090px;
}
.btn-group{
	position:absolute;
	top:150px;
	left:30%;
}
.btn{
	font-size:2em;
}
#title{
	position:absolute;
	top:0px;
	margin:0px;
	height:250px;
	width:100%;
	padding:25px;
	text-align:center;
	font-size:5em;
}