@font-face {
	font-family: ledFont;
	src: url(../fonts/open24.ttf);
}

#first{
	height:300px;
	background-color:black;
	font-family: ledFont;
	color: rgb(67,228,2);
	font-size:10em;
}
#bg {
  position: scroll; 
  margin-top: 100px; 
  left: 0; 
  width:100%;
  z-index:-999;
}
.panel-heading{
	padding:5px;
	font-family:"Courier New";
	font-size:1.5em;
	text-align:center;
	vertical-align:center;
}
.panel-body{
	padding:0px 5px;
	font-family:ledFont;
	font-size:1.8em;
	background-color:black;
	color: rgb(67,228,2);
	text-align:center;
}
.pane-1{
	position:absolute;
	top:310px;
	left:230px;
}
.pane-2{
	position:absolute;
	top:410px;
	left:390px;
}
.pane-3{
	position:absolute;
	top:550px;
	left:390px;
}
.pane-4{
	position:absolute;
	top:750px;
	left:390px;
}
.pane-5{
	position:absolute;
	top:1775px;
	left:260px;
}
.pane-6{
	position:absolute;
	top:380px;
	left:630px;
}
.pane-7{
	position:absolute;
	top:300px;
	left:800px;
}
.pane-8{
	position:absolute;
	top:1640px;
	left:770px;
}
.pane-9{
	position:absolute;
	top:300px;
	left:1300px;
}
.pane-10{
	position:absolute;
	top:300px;
	left:1450px;
}
.pane-11{
	position:absolute;
	top:1855px;
	left:1350px;
}
.btn-group{
	position:absolute;
	top:150px;
	left:30%;
}
.btn{
	font-size:2em;
}
#title{
	position:absolute;
	top:0px;
	margin:0px;
	height:250px;
	width:100%;
	padding:25px;
	text-align:center;
	font-size:5em;
}